@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
	--hover-color: #A89B9D;
	--button-bg: #347383;
	--button-bg-hover: #487E84;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272B2B;
    --foreground: #131616;
		--text-color: #E9ECEC;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
}

::selection {
	/* color: white; */
  background-color: #7a859c;
}
