@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
	--hover-color: #374151;
	--button-bg: #347383;
	--button-bg-hover: #487E84;
}

.rarity-5 {
  background: linear-gradient(
    to top,
    rgba(204, 164, 105, 1) 0%,   /* unten: 100% opacity */
    rgba(140, 83, 76, 0.6) 100%  /* oben: 80% opacity */
  );
}

.rarity-4 {
  background: linear-gradient(
    to top,
    rgba(168, 85, 247, 1) 0%,
    rgba(76, 29, 149, 0.8) 100%
  );
}

.rarity-3 {
  background: linear-gradient(
    to top,
    rgb(43, 145, 228) 0%,
    rgba(22, 90, 146, 0.8) 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #272B2B;
    --foreground: #131616; */
		--background: #374151; /* gray-700 */
  	--foreground: #1f2937; /* gray-800 */
		--text-color: #E9ECEC;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
}

option {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

option:hover {
  background: var(--hover-color);
}

::selection {
	/* color: white; */
  background-color: #7a859c;
}
